<div class="phone-images">
  <img ng-src="{{img}}" class="phone"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.phone.images" />
</div>

<h1>{{$ctrl.phone.name}}</h1>
<h6>{{$ctrl.phone.address}}</h6>

<p>{{$ctrl.phone.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in $ctrl.phone.images">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Best time for runs: </span>
    <dl>
      <dt></dt>
      <dd ng-repeat="peakhours in $ctrl.phone.peakhours">{{peakhours}}</dd>
    </dl>
  </li>
  <li>
    <span>runRating:</span>
    <dl>
      <dd>{{$ctrl.phone.rating}} </dd>
    </dl>
  </li>
  <li>
    <span>Directions:</span>
    <dl>
      <dt>From Elk Grove Blvd:</dt>
      <dd>{{$ctrl.phone.directions.eg}}</dd>
      <br>
      <dt>From Laguna Blvd:</dt>
      <dd>{{$ctrl.phone.directions.laguna}}</dd>
    </dl>
  </li>
  <li>
    <span>Park Hours:</span>
    <dl>
      <dd>{{$ctrl.phone.hours}}</dd>
    </dl>
  </li>

</ul>
